@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border: 2px solid black;
  width: 800px;
  height: 200px;
}

th,td {
  border-bottom: 1px solid black;
  text-align: start;
  padding-left: 1rem;
  padding: 1rem;
  font-size: medium;
}
